---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        Hi，我是士子，一名热爱技术创新和软件开发的工程师。我拥有坚实的编程技能和丰富的工作经验，致力于提供高质量的软件开发服务。
      </p>
      <p>Github 项目：</p>
      <ul>
        <li>
          <a href="https://github.com/caorushizi/m3u8-downloader"
            >m3u8-downloader</a
          >：m3u8 视频在线提取工具 流媒体下载 m3u8下载 桌面客户端 windows mac。
          可以直接在线获取 m3u8
          链接地址，无需使用使用网络抓包，无需安装浏览器插件。
        </li>
        <li>
          <a href="https://github.com/caorushizi/oss-client">oss-client</a
          >：七牛云文件仿百度网盘文件夹管理，上传下载，删除。七牛云存储，七牛云图床。
        </li>
      </ul>
      <p>
        我在GitHub上积极与社区交流和反馈，与其他开发者合作，共同推动项目的发展。
      </p>
      <p>工作经历：</p>
      <p>
        我目前在一家百度担任高级前端开发工程师，专注于React、Nodejs开发、数据分析等。在过去的数年里，积累了丰富的经验并掌握了相关技术和工具。
      </p>
      <p>目前要做的事情：</p>
      <p>
        目前，我致力于提升自己在前端开发、商业数据分析的技术能力，并紧密关注最新的技术趋势和发展。我计划扩展我的技能集，特别是在Nodejs方面。此外，我也有兴趣参与有挑战性的项目，与其他优秀的开发者共同工作，进一步提高自己的技术水平。
      </p>
    </main>
    <Footer />
  </body>
</html>
